# Practical Exam: House sales

RealAgents is a real estate company that focuses on selling houses.

RealAgents sells a variety of types of house in one metropolitan area.

Some houses sell slowly and sometimes require lowering the price in order to find a buyer.

In order to stay competitive, RealAgents would like to optimize the listing prices of the houses it is trying to sell.

They want to do this by predicting the sale price of a house given its characteristics.

If they can predict the sale price in advance, they can decrease the time to sale.


## Data

The dataset contains records of previous houses sold in the area.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton'. </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced" (two shared walls), "Semi-detached" (one shared wall), or "Detached" (no shared walls). </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

# Task 1

The team at RealAgents knows that the city that a property is located in makes a difference to the sale price. 

Unfortuntately they believe that this isn't always recorded in the data. 

Calculate the number of missing values of the `city`. 

 - You should use the data in the file "house_sales.csv". 

 - Your output should be an object `missing_city`, that contains the number of missing values in this column.

In [1]:
# Task 1

# Import packages
import pandas as pd

# Load dataset
data = pd.read_csv('house_sales.csv')

# Display first few rows
print(data.head())

# Display dataset information
print(data.info())

# Describe dataset
print(data.describe())

# Check for missing value
print(data.isna().sum())

# Print 'city' column unique values
print(data['city'].unique())

# 'city' column possible values
city_possible_values = ['Silvertown', 'Riverford', 'Teasdale', 'Poppleton']

# Number of missing values of the city
missing_city = (~data['city'].isin(city_possible_values)).sum()
print(missing_city)

   house_id        city  sale_price   sale_date  months_listed  bedrooms  \
0   1217792  Silvertown       55943  2021-09-12            5.4         2
1   1900913  Silvertown      384677  2021-01-17            6.3         5
2   1174927   Riverford      281707  2021-11-10            6.9         6
3   1773666  Silvertown      373251  2020-04-13            6.1         6
4   1258487  Silvertown      328885  2020-09-24            8.7         5

      house_type         area
0  Semi-detached  107.8 sq.m.
1       Detached  498.8 sq.m.
2       Detached  542.5 sq.m.
3           Det.  528.4 sq.m.
4       Detached  477.1 sq.m.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   house_id       1500 non-null   int64
 1   city           1500 non-null   object
 2   sale_price     1500 non-null   int64
 3   sale_date      1500 non-null   object
 4   months_listed  1469 non-null   float64
 5   bedrooms       1500 non-null   int64
 6   house_type     1500 non-null   object
 7   area           1500 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 93.9+ KB
None
           house_id     sale_price  months_listed     bedrooms
count  1.500000e+03    1500.000000    1469.000000  1500.000000
mean   1.501071e+06  228121.500000       5.901498     4.018000
std    2.835584e+05  117908.147306       1.954070     1.413391
min    1.000296e+06   26348.000000       0.500000     2.000000
25%    1.258978e+06  127470.750000       4.500000     3.000000
50%    1.509208e+06  230058.500000       5.900000     4.000000
75%    1.734578e+06  316793.500000       7.200000     5.000000
max    1.999721e+06  509536.000000      12.300000     6.000000
house_id          0
city              0
sale_price        0
sale_date         0
months_listed    31
bedrooms          0
house_type        0
area              0
dtype: int64
['Silvertown' 'Riverford' 'Teasdale' 'Poppleton' '--']
73

# Task 2 

Before you fit any models, you will need to make sure the data is clean. 

The table below shows what the data should look like. 

Create a cleaned version of the dataframe. 

 - You should start with the data in the file "house_sales.csv". 

 - Your output should be a dataframe named `clean_data`. 

 - All column names and values should match the table below.


| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton' </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced", "Semi-detached", or "Detached". </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

In [2]:
# Task 2
# Create a cleaned version of the dataframe
clean_data = pd.read_csv('house_sales.csv')
# Check 'house_id' column
# Check unique
house_id_unique = clean_data['house_id'].is_unique
# Check for missing values
house_id_missing_val = clean_data['house_id'].isna().sum()
if house_id_unique and  house_id_missing_val == 0:
    print('house_id values are unique and not contains missing values. So it match house_id column description')
else :
    print("house_id don't match house_id column description")

# Check 'city' column
# Check values
cities = clean_data['city'].unique()
print(cities)
# Check missing value
print('city missing values: ', clean_data['city'].isna().sum())
# Replace incorrect values
clean_data['city'] = clean_data['city'].replace('--', 'Unknown')
print(clean_data['city'].unique())

# Check 'sale_price' column
# Check data type
print('sale_price data type: ', clean_data['sale_price'].dtype)
# Check values
print(clean_data[clean_data['sale_price']< 0])
# Check for missing values
print('sale_price missing values: ', clean_data['sale_price'].isna().sum())
# No missing value in 'sale_price' column to fill

# Check 'sale_date' column
# Check data type
print('sale_date data type: ', clean_data['sale_date'].dtype)
# Check for missing values
print('sale_date missing values: ', clean_data['sale_date'].isna().sum())
# Convert 'sale_date' to datetime
clean_data['sale_date'] = pd.to_datetime(clean_data['sale_date'])
print(clean_data['sale_date'].dtype)


# Check 'months_listed' column
# Check data type
print('months_listed data type: ', clean_data['months_listed'].dtype)
# Check for missing values
print('months_listed missing values: ', clean_data['months_listed'].isna().sum())
# Fill missing values
clean_data['months_listed'] = clean_data['months_listed'].fillna(clean_data['months_listed'].mean().round(1))

print('months_listed missing values: ', clean_data['months_listed'].isna().sum())

# Check 'bedrooms' column
# Check data type
print('bedrooms data type: ', clean_data['bedrooms'].dtype)
# Check for missing values
print('bedrooms missing values: ', clean_data['bedrooms'].isna().sum())
# No missing value to fill in 'bedrooms' column

# Check 'house_type' column
# Check values
types = clean_data['house_type'].unique()
print(types)
# Check missing value
print('house_type missing values: ', clean_data['house_type'].isna().sum())
# Replace incorrect values
clean_data['house_type'] = clean_data['house_type'].replace('Terr.', "Terraced")
clean_data['house_type'] = clean_data['house_type'].replace('Semi', 'Semi-detached')
clean_data['house_type'] = clean_data['house_type'].replace('Det.', 'Detached')
print(clean_data['house_type'].unique())


# Check 'area' column
# Check data type
print('area data type: ', clean_data['area'].dtype)
# Check for missing values
print('area missing values: ', clean_data['area'].isna().sum())
# No missing value to fill in 'bedrooms' column

# Clean column
clean_data['area'] = clean_data['area'].str.replace(' sq.m.', '').astype(float)

print(clean_data['area'].head())

# print clean_data info
print(clean_data.info())

house_id values are unique and not contains missing values. So it match house_id column description
['Silvertown' 'Riverford' 'Teasdale' 'Poppleton' '--']
city missing values:  0
['Silvertown' 'Riverford' 'Teasdale' 'Poppleton' 'Unknown']
sale_price data type:  int64
Empty DataFrame
Columns: [house_id, city, sale_price, sale_date, months_listed, bedrooms, house_type, area]
Index: []
sale_price missing values:  0
sale_date data type:  object
sale_date missing values:  0
datetime64[ns]
months_listed data type:  float64
months_listed missing values:  31
months_listed missing values:  0
bedrooms data type:  int64
bedrooms missing values:  0
['Semi-detached' 'Detached' 'Det.' 'Terraced' 'Semi' 'Terr.']
house_type missing values:  0
['Semi-detached' 'Detached' 'Terraced']
area data type:  object
area missing values:  0
0    107.8
1    498.8
2    542.5
3    528.4
4    477.1
Name: area, dtype: float64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   house_id       1500 non-null   int64
 1   city           1500 non-null   object
 2   sale_price     1500 non-null   int64
 3   sale_date      1500 non-null   datetime64[ns]
 4   months_listed  1500 non-null   float64
 5   bedrooms       1500 non-null   int64
 6   house_type     1500 non-null   object
 7   area           1500 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 93.9+ KB
None

# Task 3 

The team at RealAgents have told you that they have always believed that the number of bedrooms is the biggest driver of house price. 

Producing a table showing the difference in the average sale price by number of bedrooms along with the variance to investigate this question for the team.

 - You should start with the data in the file 'house_sales.csv'.

 - Your output should be a data frame named `price_by_rooms`. 

 - It should include the three columns `bedrooms`, `avg_price`, `var_price`. 

 - Your answers should be rounded to 1 decimal place.

In [3]:
# Task 3
# Producing a table showing the difference in the average sale price by number of bedrooms along with the variance

# Group by 'bedrooms' and calculate mean and variance of 'sale_price' column
price_by_rooms = clean_data.groupby('bedrooms')['sale_price'].agg(['mean', 'var']).reset_index()

# Rename columns and round values to 1 decimal
price_by_rooms = price_by_rooms.rename(columns={'mean': 'avg_price', 'var': 'var_price'}).apply(lambda x: x.round(1))
print(price_by_rooms)

   bedrooms  avg_price     var_price
0         2    67076.4  5.652896e+08
1         3   154665.1  2.378289e+09
2         4   234704.6  1.725211e+09
3         5   301515.9  2.484328e+09
4         6   375741.3  3.924432e+09

# Task 4

Fit a baseline model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `base_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [4]:
# Task 4
#Fit a baseline model to predict the sale price of a house using LinearRegression
# Load datasets
# Train dataset
train_data = pd.read_csv('train.csv')
# dummy data
train_city_dummies=pd.get_dummies(train_data['city'], drop_first=True)
train_type_dummies=pd.get_dummies(train_data['house_type'], drop_first=True)
train_data=pd.concat([train_data, train_city_dummies, train_type_dummies], axis=1)
print(train_data.head(2))


# Validation dataset
test_data = pd.read_csv('validation.csv')
test_city_dummies=pd.get_dummies(test_data['city'], drop_first=True)
test_type_dummies=pd.get_dummies(test_data['house_type'], drop_first=True)
test_data=pd.concat([test_data, test_city_dummies, test_type_dummies], axis=1)
print(test_data.head(1))

train_col_to_drop = ['house_id', 'city','sale_date', 'sale_price', 'house_type']
test_col_to_drop = ['house_id', 'city','sale_date', 'house_type']
response_col = 'sale_price'
X_train = train_data.drop(train_col_to_drop, axis=1).values
y_train = train_data[response_col].values
X_test = test_data.drop(test_col_to_drop, axis=1).values

# packages import
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.linear_model import LinearRegression

# Create model
model = LinearRegression()

# Fit on train set
model.fit(X_train, y_train)

# Make predictions 
y_pred = model.predict(X_test)

# Create dataframe 'base_result'
base_result = pd.DataFrame({'house_id': test_data['house_id'], 'price': y_pred})

print(base_result.head())

   house_id        city  sale_price   sale_date  months_listed  bedrooms  \
0   1634561    Teasdale      401869  2021-12-14            7.0         6
1   1009770  Silvertown      372387  2022-09-11            8.1         6

  house_type   area  Riverford  Silvertown  Teasdale  Semi-detached  Terraced
0   Detached  519.7      False       False      True          False     False
1   Detached  507.8      False        True     False          False     False
   house_id      city   sale_date  months_listed  bedrooms house_type   area  \
0   1331375  Teasdale  2022-05-17            7.7         3   Terraced  209.7

   Riverford  Silvertown  Teasdale  Semi-detached  Terraced
0      False       False      True          False      True
   house_id          price
0   1331375  121527.827316
1   1630115  304386.625267
2   1645745  384760.100656
3   1336775  123976.268985
4   1888274  271186.199353

# Task 5

Fit a comparison model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `compare_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [5]:
# Task 5
# Fit a comparison model to predict the sale price of a house using Random Forest Regressor
# packages import
from sklearn.ensemble import RandomForestRegressor

# Create model
model = RandomForestRegressor()

# Fit model
model.fit(X_train, y_train)

#Make prediction
y_pred = model.predict(X_test)

# Create dataframe 'base_result'
base_result = pd.DataFrame({'house_id': test_data['house_id'], 'price': y_pred})

print(base_result.head())

   house_id      price
0   1331375   82575.13
1   1630115  302865.32
2   1645745  407060.75
3   1336775  107499.82
4   1888274  266189.52